@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";




* {
    font-family: Outfit;
}

@theme {
  --color-primary: #5f6fff;
  --grid-template-columns-auto: repeat(auto-fill, minmax(200px, 1fr));
}

a.active hr {
  display: block;
}

::-webkit-scrollbar{
    @apply hidden;
}

@media (max-width:740px) {
.active p{
@apply text-white bg-primary
}
}

